<!DOCTYPE html>
<html>
    <head>
        <title>Simple monitoring</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" media="all" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" media="all" type="text/css" href="monitor.css" />
    </head>
    <body>
        <h1>monitoring</h1>
        <p class="lastUpdate"><span></span></p>
    </body>
    <script type="text/template" id="tpl-target">
        <section id="<%= name %>">
            <h2><a href="<%= url %>"><%= name %></a></h2>
            <p class="timetable"></p>
        </section>
    </script>
    <script type="text/template" id="tpl-timetable">
        <ul>
            <% _.each(_.range(startAt, stopAt), function(i) { %>
                <li class="time"><%= i %>:00</li>
            <% }); %>
            <% _.each(days, function(day, dayIdx) { %>
                <li class="day"><% if (dayIdx === 0) { %>Today<% } else if (dayIdx === 1) { %>Yesterday<% } else { %>Day before<% } %></li>
                <% _.each(day.hours, function(hour) { %>
                    <li class="hour <%= hour.current && dayIdx === 0 ? 'current' : ''%> <%= hour.status %>">
                        <% _.each(hour.statusCodes, function(statusCode, idx) { %>
                            <%= statusCode %>
                        <% }); %>
                    </li>
                <% }); %>
            <% }); %>
        </ul>
    </script>
    <script src="components/underscore/underscore.js"></script>
    <script src="components/jquery/jquery.js"></script>
    <script src="timetable.js"></script>
    <script src="monitor.js"></script>
    <script>
        Monitor.launch();
    </script>
</html>
